In [40]:
import pandas as pd
df = pd.read_csv('mental_health.csv')

In [41]:
df.Gender.unique()

array(['Female', 'M', 'Male', 'male', 'female', 'm', 'Male-ish', 'maile',
       'Trans-female', 'Cis Female', 'F', 'Cis Male', 'Woman', 'f', 'Mal',
       'Male (CIS)', 'queer/she/they', 'non-binary', 'Femake', 'woman',
       'Make', 'Genderqueer', 'Female ', 'cis-female/femme',
       'Guy (-ish) ^_^', 'Male ', 'Man', 'Trans woman', 'msle',
       'Female (trans)', 'queer', 'Female (cis)', 'Mail', 'cis male',
       'Malr', 'femail', 'Cis Man'], dtype=object)

In [42]:
df['Gender'] = df.Gender.replace({'female':'Female'})
df['Gender'] = df.Gender.replace({'Cis Female':'Female'})
df['Gender'] = df.Gender.replace({'F':'Female'})
df['Gender'] = df.Gender.replace({'Woman':'Female'})
df['Gender'] = df.Gender.replace({'Femake':'Female'})
df['Gender'] = df.Gender.replace({'woman':'Female'})
df['Gender'] = df.Gender.replace({'f':'Female'})
df['Gender'] = df.Gender.replace({'Female (cis)':'Female'})
df['Gender'] = df.Gender.replace({'femail':'Female'})
df['Gender'] = df.Gender.replace({'cis-female/femme':'Female'})
df['Gender'] = df.Gender.replace({'Female ':'Female'})

In [43]:
df['Gender'] = df.Gender.replace({'M':'Male'})
df['Gender'] = df.Gender.replace({'male':'Male'})
df['Gender'] = df.Gender.replace({'m':'Male'})
df['Gender'] = df.Gender.replace({'Male-ish':'Male'})
df['Gender'] = df.Gender.replace({'Cis Male':'Male'})
df['Gender'] = df.Gender.replace({'Mal':'Male'})
df['Gender'] = df.Gender.replace({'Male (CIS)':'Male'})
df['Gender'] = df.Gender.replace({'Man':'Male'})
df['Gender'] = df.Gender.replace({'msle':'Male'})
df['Gender'] = df.Gender.replace({'Make':'Male'})
df['Gender'] = df.Gender.replace({'maile':'Male'})
df['Gender'] = df.Gender.replace({'Male ':'Male'})
df['Gender'] = df.Gender.replace({'Mail':'Male'})
df['Gender'] = df.Gender.replace({'cis male':'Male'})
df['Gender'] = df.Gender.replace({'Malr':'Male'})
df['Gender'] = df.Gender.replace({'Cis Man':'Male'})
df['Gender'] = df.Gender.replace({'Guy (-ish) ^_^':'Male'})
df['Gender'] = df.Gender.replace({'Cis Man':'Male'})

In [44]:

df['Gender'] = df.Gender.replace({'queer/she/they':'Non-binary'})
df['Gender'] = df.Gender.replace({'Genderqueer':'Non-binary'})
df['Gender'] = df.Gender.replace({'Trans woman':'Non-binary'})
df['Gender'] = df.Gender.replace({'Female (trans)':'Non-binary'})
df['Gender'] = df.Gender.replace({'queer':'Non-binary'})
df['Gender'] = df.Gender.replace({'Trans-female':'Non-binary'})
df['Gender'] = df.Gender.replace({'non-binary':'Non-binary'})

In [46]:
df.Gender.unique()

array(['Female', 'Male', 'Non-binary'], dtype=object)

In [48]:
df.to_csv("Mental_health_cleaned.csv")

In [53]:
df.Gender.value_counts()

Male          989
Female        247
Non-binary      8
Name: Gender, dtype: int64

In [54]:
df

,Timestamp,Age,Gender,Country,state,self_employed,family_history,treatment,work_interfere,no_employees,...,leave,mental_health_consequence,phys_health_consequence,coworkers,supervisor,mental_health_interview,phys_health_interview,mental_vs_physical,obs_consequence,comments
0,8/27/2014 11:29,37,Female,United States,IL,NaN,No,Yes,Often,25-Jun,...,Somewhat easy,No,No,Some of them,Yes,No,Maybe,Yes,No,NaN
1,8/27/2014 11:29,44,Male,United States,IN,NaN,No,No,Rarely,More than 1000,...,Don't know,Maybe,No,No,No,No,No,Don't know,No,NaN
2,8/27/2014 11:29,32,Male,Canada,NaN,NaN,No,No,Rarely,25-Jun,...,Somewhat difficult,No,No,Yes,Yes,Yes,Yes,No,No,NaN
3,8/27/2014 11:29,31,Male,United Kingdom,NaN,NaN,Yes,Yes,Often,26-100,...,Somewhat difficult,Yes,Yes,Some of them,No,Maybe,Maybe,No,Yes,NaN
4,8/27/2014 11:30,31,Male,United States,TX,NaN,No,No,Never,100-500,...,Don't know,No,No,Some of them,Yes,Yes,Yes,Don't know,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1239,9/12/2015 11:17,26,Male,United Kingdom,NaN,No,No,Yes,NaN,26-100,...,Somewhat easy,No,No,Some of them,Some of them,No,No,Don't know,No,NaN
1240,9/26/2015 1:07,32,Male,United States,IL,No,Yes,Yes,Often,26-100,...,Somewhat difficult,No,No,Some of them,Yes,No,No,Yes,No,NaN
1241,11/7/2015 12:36,34,Male,United States,CA,No,Yes,Yes,Sometimes,More than 1000,...,Somewhat difficult,Yes,Yes,No,No,No,No,No,No,NaN
1242,11/30/2015 21:25,46,Female,United States,NC,No,No,No,NaN,100-500,...,Don't know,Yes,No,No,No,No,No,No,No,NaN
1243,2/1/2016 23:04,25,Male,United States,IL,No,Yes,Yes,Sometimes,26-100,...,Don't know,Maybe,No,Some of them,No,No,No,Don't know,No,NaN

In [66]:

multi_functions = pd.pivot_table(df, index = ['Gender'], values = ['coworkers','supervisor','phys_health_consequence'], aggfunc = [len])
print(multi_functions)

                 len
           coworkers phys_health_consequence supervisor
Gender
Female           247                     247        247
Male             989                     989        989
Non-binary         8                       8          8